#back-imagen {
    background-image:  url("../imagen/taller.jpg");
    background-size: 100%;
}

/******* Incio de login y registro *******/

.login-box{
    width: 400px;
    margin: 4% auto;
    box-sizing: border-box;
}

.login-logo{
    font-size: 45px;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 300;
}

.login-logo a{
    color: #000;
}

.login-box-body {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-top: 0;
    color: #666;
    border-radius: 5%;
}
/*.register-box-body*/

.login-box-msg{
    font-size: 18px;
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    color: #000000;
}

/*.register-login-box-msg*/

.btn-facebook {
    color: #fff;
    background-color: rgba(47,67,122,0.7);
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #122b40;
    border-color: rgba(0,0,0,0.2);
}

.btn-google {
    color: #fff;
    background-color: rgba(172,41,37,0.7);
    border-color: rgba(0,0,0,0.2);
}

.btn-google:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: rgba(0,0,0,0.2);
}

/******** Fin de Registro y login *****/

.content{
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
}

.content-siderbar{
    background-color: #fff;
    margin-right: -5px;
    padding: 3px;
}


.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.sidebar-menu{
    height: 790px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

#footer{
    background-color: #1fa67a;
    border-top: 1px solid #1b926c;
    color: #a5d8c7;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    padding: 30px;
}

.footer-login{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255, 0.4);
    color: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    padding: 10px 0px 10px 0px;
}

