#back-imagen {
    background-image:  url("../imagen/taller.jpg");
    background-size: 100%;
}

@media screen and (min-device-width: 360px){

    #back-imagen {
        background-image:  url("../imagen/taller.jpg");
        background-size: 100%;
    }


}
.header_h{
    background-color: rgba(27,109,133, 0.3);
    border-radius:10px 10px 0px 0px;
    padding: 1% 2%;
}

/******* Incio de login y registro *******/

.login-box{
    width: 400px;
    margin: 6% auto;
    box-sizing: border-box;
}

.login-logo{
    font-size: 45px;
    text-align: center;
    margin-bottom: 1px;
    font-weight: 300;
}

.login-logo a:hover {
    color: #3c3c3c;
    text-decoration: none;
}

.login-box-body {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-top: 0;
    color: #666;
    border-radius: 5%;
}
/*.register-box-body*/

.login-box-msg{
    font-size: 18px;
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    color: #000000;
}

/*.register-login-box-msg*/


.btn-facebook {
    color: #fff;
    background-color: rgba(47,67,122,0.7);
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #122b40;
    border-color: rgba(0,0,0,0.2);
}

.btn-google {
    color: #fff;
    background-color: rgba(172,41,37,0.7);
    border-color: rgba(0,0,0,0.2);
}

.btn-google:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: rgba(0,0,0,0.2);
}

/******** Fin de Registro y login *****/

.jumbotron-alf{
    background-color: rgba(0,0,0,0.1);
    padding: 1% 1% 1% 1%;
    margin-bottom: 2%;
}

.container-alf{
    padding-right:15px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto;
}

.panel-login {
    border-color: darkorange;
}

.panel-login > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.footer_login{
    background-color: #f1f1f1;
    padding: 1%;
    background-position: inherit;
    text-shadow: 0 1px 0 rgba(0,0,0,0.85);
}

.footer_login i:hover{
    color: rgba(42, 100, 150, 0.7);
}

